xmlSchemas/Order.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="cXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="From">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Credential">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Identity" type="xs:unsignedShort" />
                        </xs:sequence>
                        <xs:attribute name="domain" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="To">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Credential">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Identity" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="domain" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Credential">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Identity" type="xs:string" />
                          <xs:element name="SharedSecret" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="domain" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Request">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderRequest">
                
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="payloadID" type="xs:string" use="required" />
      <xs:attribute name="timestamp" type="xs:string" use="required" />

    </xs:complexType>
  </xs:element>
</xs:schema>